.admincard{
   width: 100%;
   background-color: rgb(28, 32, 32);
   display: flex;
   flex-direction: column;
   padding-left: 30px;
   color: white;
   padding-top: 20px;
   padding-bottom: 20px;
   border-radius: 10px;
   box-shadow: 5px 10px 8px #888888;
   position: relative;
}
.admincard__del{
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.admincard__row{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: white;
}
.admincard__row>p{
    margin-left: 15px;
}